@font-face{
font-family: IBC;
src: url(interstate_blackcondensed.ttf);
}

@font-face{
	font-family: "Ghed Istate";
	src: url(interstate_regular_cond.ttf);
}

h2, h3{
	font-family: "Ghed Istate", inherit;
}

h4{
	font-size: 10pt;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.popup{
	font-size: 10pt;
}

h3.map-heading{
	text-align: center;
	font-style: normal;
	color: #333;
}

h1 {
	font-family: "IBC","sans-serif";
	font-size: 47.5pt;
	text-align: left;
	margin-bottom: 0;
}

hr.black{
	border-top: 1px dashed #999;
}

hr.thick{
	border-top: 4px solid #444;
}

#map{
	display: inline-block;
	width: 500px;
	height: 300px;
}

#map-container{
	text-align: center;
}

.substory{
	font-style: italic;
}

.source{
	font-size: 8pt;
}

.left{
	float: left;
	display: inline-block;
}

.right{
	float: right;
	display: inline-block;
}

#graduateTable{
	padding-bottom: 20px;
}

h4.tableHeader{
	text-align: center;
	color: #333;
	font-size: 12pt;
	font-family: "Ghed Istate", inherit;
	font-weight: normal;
}

table.dataTable tr.odd{
	background-color: #ccdfe8;
}

table.dataTable tr.odd td.sorting_1{
	background-color: #6599b6;
}

table.dataTable tr.even td.sorting_1{
	background-color: #8bb2c8;
}